<!DOCTYPE html>
<html>
  <head>
    <title>Fabs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="jumbotron">
      <h1>Fabs BLOG</h1>
		<% if signed_in? %>
      		Usuario: <%= current_user.email %>
      		<%= button_to 'Salir', sign_out_path, method: :delete %>
    	<% else %>
      		<%= link_to 'Entrar con usuario', sign_in_path %>
    	<% end %>
    </div>
  </header>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
	<div id="flash">
    	<% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
    	<% end %>
    </div>
  </body>
</html>
